*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"playfair display", sans-serif;
}

nav{
padding: 20px ;
background-color:black;
height: 80px;
color: white;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

nav div{
    display: flex;
    justify-content:space-between ;
    
}

ul{
    display: flex;
list-style: none;
}

li a{
    color:white;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: red;
    /* background-color: blanchedalmond;
    cursor:pointer; */
}

nav li:last-child a{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;
 }     /*last child is last element */

nav li:last-child a:hover{
    background-color:rgb(249, 86, 119);
    color: black;
}

nav a.active{
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

.hero{
height: 90vh;
background-image: url("/Images/banner.jpg");
display: flex;
justify-content: center;
align-items: center;
color: whitesmoke;
text-align: center;
}

.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bolder;
}

.hero button:hover{
    background-color:blanchedalmond;
    color: black;
}

.video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text{
    flex: 1;

}
.video-box{
    flex: 1;
}
.video-box video{
    width: 100%;
    border-radius: 10px;
}
.video-text h2{
    font-size: 18px;
    margin-bottom: 15px;
}
.video-text p{
    font-size: 18px;
    color: #444;
}

/* about section */
.about{
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.about h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(255, 0, 0.615);
}

.about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

    /* display:flex;
    justify-content: space-between;
    align-items: center; */

    /* Menu Card */
    .card{
        background:#fff;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .card img{
        width: 100%;
        object-fit: cover;
    }
    .card button{
        background: red;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;
    }
    .card button:hover{
        background: darkred;
    }

    .menu-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        padding: 20px;
    }

    .category-icons{
        display: flex;
        gap: 20px;
        padding: 20px;
        overflow: auto;
        background: #fff;
        justify-content: center;
    }

    .icon-box{
        max-width: 100px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
    }

    .icon-box img{
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #eee;
        padding: 5px;
        box-shadow: 0 4px 10px gray;
        /* margin-bottom: 5px; */
    }
    .icon-box p{
        margin-top: 10px;
        font-size: 14px;
    }

    .icon-box img:hover{
        border-color: rgb(0, 0, 0);
        transform: scale(1.1);
    }

    .icon-box p:hover{
        color: red;
    }

    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }